#card {
    display: flex;
}

#card > img {
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: transform 0.1s ease-in-out;
}

#card > img:hover {
    transform: scale(1.1);
}

#desc-wrapper {
    padding: 0rem 3rem;
}

h2 {
    flex: 1;
    margin: 0;
}

#desc-wrapper > #desc {
    font-size: 1.2rem;
    opacity: 0.7;
    padding: 0 1rem;
    line-height: 2rem;
}

#social-wrapper {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.social {
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 50%;
}

.email {
    background-color: #ea4335;
    outline: none;
}
.keybase {
    background-color: #f36f28;
    outline: none;
}
.linkedin {
    background-color: #0077b5;
    outline: none;
}

@media screen and (max-width: 80rem) {
    #card > img {
        width: 10rem;
        object-fit: cover;
    }
}

@media screen and (max-width: 50rem) {
    #card > img {
        width: 0;
    }
}