.form-grid > div {
    display: flex;
}

.form-grid > div > i {
    padding: 1rem;
    font-size: 1.2rem;
    color: #555759;
}

.form-grid > div > input {
    flex: 1;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    min-width: 0;
    width: calc(100% - 2rem);
}
.form-grid > div > input:focus {
    outline: 1px solid #666;
}

.form-grid {
    width: 50%;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
}

#button-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
}


#error {
    display: none;
    background-color: #f8c4c4;
    outline: 2px solid #fcb3b3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#focus-desc {
    text-align: center;
    margin-top: 2rem;
    color: #7d7f80;
    line-height: 1.6rem;
}

@media screen and (max-width: 80rem) {
    .form-grid {
        width: 80%;
        grid-gap: 1rem;
    }
}
