#intro {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 4rem;
    padding: 3rem 10rem;
    line-height: 2.5rem;
    color: #2d3032;
    background-color: rgb(205, 226, 255);
    border-radius: 3rem;
    outline: 2px solid rgb(171, 206, 253);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#intro > p {
    opacity: 0.8;
}

#register {
    border: none;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    background-color: rgb(128, 183, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    margin-left: 0.5rem;
    border-radius: 3rem;
    transition: padding 0.1s ease-in-out, letter-spacing 0.1s ease-in-out;
    letter-spacing: 0.1rem;
}
#register:hover {
    filter: saturate(150%);
    padding: 1rem 5rem;
    letter-spacing: 0.2rem;
}

/* The list */

.item {
    display: flex;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.img-wrapper {
    height: 6rem;
    width: 6rem;
}
.img-wrapper > img {
    height: 100%;
    transition: transform 0.1s ease-in-out;
}

.desc-wrapper {
    padding: 1rem 1.5rem;
    color: #2d3032;
}
.desc-wrapper > p {
    margin: 0;
}
.desc-wrapper > .name {
    font-size: 1.8rem;
}
.desc-wrapper > .desc {
    font-size: 1.4rem;
    opacity: 0.7;
}

.item:hover {
    background-color: #e5ffe9;
    outline: 3px solid #666;
}
.item:hover > .img-wrapper > img {
    transform: rotate(-8deg);
}

/* Small screens */

@media screen and (max-width: 80rem) {
    #intro {
        padding: 2rem;
    }
}
