/* black #2d3032 #555759 #d3d3d3 highlight #9615db accent #7d7f80 */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

/* Website setup */

* {
    font-family: "Ubuntu";
}

body {
    margin: 0;
    margin-top: 1rem;
    background-color: #eee;
    overflow-x: hidden;
}

header {
    background-color: #2d3032;
    font-size: 2rem;
    color: white;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header,
nav,
#content {
    margin: 0 auto;
    max-width: 76rem;
    padding: 2rem;
}

/* The list */

.item {
    display: flex;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.img-wrapper {
    height: 6rem;
    width: 6rem;
}
.img-wrapper > img {
    height: 100%;
    transition: transform 0.1s ease-in-out;
}

.desc-wrapper {
    padding: 1rem 1.5rem;
    color: #2d3032;
}
.desc-wrapper > p {
    margin: 0;
}
.desc-wrapper > .name {
    font-size: 1.8rem;
}
.desc-wrapper > .desc {
    font-size: 1.4rem;
    opacity: 0.7;
}

.item:hover {
    background-color: #e5ffe9;
    outline: 3px solid #2d3032;
}
.item:hover > .img-wrapper > img {
    transform: rotate(-8deg);
}

/* Dividers */

h2 {
    text-align: center;
    background-color: #d3d3d3;
    padding: 0.8rem;
    border-radius: 3rem;
    margin: 2rem 20%;
}

#section-001 {
    margin-top: 0 !important;
}

/* Small screens */

@media screen and (max-width: 80rem) {
    body {
        margin-top: 0;
    }

    header,
    nav,
    #content {
        max-width: 100vw;
        padding: 1.5rem;
        border-radius: 0;
    }

    h2 {
        color: #2d3032;
        margin: 2rem 0;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}
